body {
  margin: 0;
  font-family: "Roboto", !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  /* background-color: rgb(235, 195, 64); */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}

.dashboard {
  list-style: none;
  padding-left: 0;
}

.dashboard li {
  display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
}